.pagination {
  display: inline-block;
 
}
.pagination li  {
  color: black;
  float: left;
  padding: 8px 16px;
  list-style: none;
  
}
.pagination  a {
	text-decoration: none;
}

header{
	border-bottom: solid 1px orange;
	margin-bottom: 10px;
}

footer{
	border-top: solid 1px orange;
	margin-top: 10px;
}